body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/download (2).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}


h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

#info-card {
    text-align: center;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #fff;
    flex: 1;
}

#user-info span {
    flex: 2;
    color: #fff;
    text-align: left;
    padding-left: 10px;
}

